/***********Tag Selectors***********/

h1 {
    color : red;
    font-size: 200px;
}


img:hover {
    background-color: gold  ;
}

 
/********Class Selectors**********/

.bacon {
    background-color: green;
}
.brocoli {
    background-color: red;
}
.circular{
    border-radius: 100%;
}

/******ID selectors*******/

#heading {
    color: blue;
}