@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300;400&family=The+Nautigal&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100&family=Roboto:wght@300;400&family=The+Nautigal&family=Ubuntu:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 60px;
    margin-top: -10rem;
    font-weight: bold;
    margin-top: 120px;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.countdown-container{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-size:2rem;
    line-height: 1;
    margin: 1rem 2rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}