.Link {
  color: #ffff;
  text-decoration: none;
}
.navBar {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.accountRoot {
  display: flex;
  justify-content: center;
}
.accountMain {
  padding: 2vh;
  border: 1px solid #8e2de2;
}
.btn {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #ffff;
}
.iconBtn1 {
  color: #8e2de2 !important;
  height: 6%;
  width: 6%;
}
.iconBtn2 {
  color: #4a00e0 !important;
}
.submit {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  margin: 24px 0px 16px !important;
  color: #fff;
}
.imgSize {
  height: 200px;
  width: 200px;
}
.suggestions {
  position: absolute;
  background: #4a00e0 !important;
  /* width: 100%; */
  z-index: 50;
  margin-left: 24px;
  /* top: 40px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #00000057;
}
.suggestion {
  color: #fff;
  cursor: pointer;
  padding: 3px 12px;
  font-size: 19px;
  transition: 0.2s;
}
.suggestion:hover {
  background-color: #8e2de2;
}
