* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #113f67;
    overflow: hidden;
}

body {
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7eef2;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: #2a2438;
    text-align: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow {
    background: rgb(245, 146, 62);
    color: #fff;
}

.btn-grey {
    background: rgb(224, 224, 224);

}

.btn-equal {
    background: green;
}

.btn-clear {
    background: red;
}

.label {
    height: 26px;
    width: 50px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
}

.fa-moon {
    color: #f1c40f
}

.fa-sun {
    color: #f39c12;
}