footer {
    font-family: Montserrat;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin: 25px auto;
    color: #a9a9a9;
    line-height: 20px;
    margin-top: 75px;
}
footer a {
    color: #a9a9a9;
}
