/*Navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 9px;
    padding-bottom: 8px;
}
html{
    scroll-behavior: smooth;
}

#home{
    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/*Services section*/
#services{
    flex-direction: column;

}
#services .box{
    padding: 14px;
    margin: 5px 0px;
    margin-bottom: 20px;

}
/*Clients section*/
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
#cotact-box form{
    width: 80%;
}



/*utility classes*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}

