/*styling.css*/
html {
  height: 100%;
  background: radial-gradient(circle, #fff, #ccc);
}

#container {
  height: 600px;
  width: 750px;
  background-color: #9dd2ea;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #009de4;
  position: relative;
}

#score {
  background-color: #f1ff92;
  color: #888e5f;
  padding: 11px;
  position: absolute;
  left: 700px;
  box-shadow: 0px 4px 0px #9da853;
}

#correct {
  position: absolute;
  left: 260px;
  background-color: #42e252;
  color: white;
  padding: 11px;
  display: none;
}

#wrong {
  position: absolute;
  left: 250px;
  background-color: #de401a;
  color: white;
  padding: 11px;
  display: none;
}

#fruitsContainer {
  width: 650px;
  height: 400px;
  margin: 50px auto 10px auto;
  background-color: white;
  box-shadow: 0px 4px #535aa8;
  font-size: 100px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: black;
  position: relative;
  overflow: hidden;
}

#instruction {
  width: 450px;
  height: 50px;
  background-color: #b481d9;
  margin: 10px auto;
  text-align: center;
  line-height: 45px;
  box-shadow: 0px 4px #8153a8;
}

#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
}

.box {
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;
  margin-right: 36px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 80px;
  position: relative;
  transition: all 0.2s;
}

.box:hover,
#startreset:hover {
  /*    background-color: #9C89F6;*/
  /*    color: white;*/
  /*    box-shadow: 0px 4px #6b54d3;*/
}

.box:active,
#startreset:active {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 0px #6b54d3;
  -moz-box-shadow: 0px 0px #6b54d3;
  -webkit-box-shadow: 0px 0px #6b54d3;
  top: 4px;
}
#box4 {
  margin-right: 0;
}

#startreset {
  width: 78px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

#trialsLeft {
  width: 80px;
  padding: 10px;
  position: absolute;
  background-color: #f1ff92;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  /*    visibility: hidden;*/
  display: none;
}

#gameOver {
  height: 200px;
  width: 500px;
  background: linear-gradient(#f3ca6b, #f3706c);
  color: white;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 170px;
  left: 145px;
  z-index: 2;
  display: none;
}

.life {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.fruit {
  display: none;
  position: absolute;
}
