* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.banner {
    background-image: url(../images/sign.png);
}

.head {
    text-align: center;
    text-transform: uppercase;
    color: honeydew;
    text-decoration: underline;
}

.form-control {
    width: 70%;
    margin-left: 10%;
    border: 3px dashed grey;
}

.form-control:focus {
    box-shadow: none;
}

.form-label {
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
}

.form_section {
    border: 6px solid aliceblue;
    border-radius: 12px;
    margin-top: 2%;
    margin-right: 8%;
    text-align: center;
}

.btn {
    border: 4px solid rgb(61, 60, 60);
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}